<html>
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/common.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/warning.css">
<link rel="stylesheet" href="/css/togglebnb.css">
<link rel="stylesheet" href="/css/loader.css">
<link rel="stylesheet" href="/css/agenttable.css">


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script src="https://cdn.zingchart.com/angular/zingchart-angularjs.js"></script>
<style>
.progress-bar-purple {
	background-color: #5f8bcc !important;
}
</style>
</head>
<body>
	<nav class="navbar navbar-findcond navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Build Regression Tool</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar">
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="/build/details"><i
							class="fa fa-fw fa-bell-o"></i>Home</a></li>
					<li class="active"><a href="/build/agentstats">Stats<span
							class="sr-only">(current)</span></a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false">Regression
							<span class="caret"></span>
					</a>
						<ul class="dropdown-menu" role="menu">
							<li><a href="/build/monitor">Configuration</a></li>
							<li><a href="/build/regression">Regression</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>

	<br />
	<br />
	<br />
	<br />

	<div class="container" ng-app="app" ng-controller="myCtrl">
		<div class="row text-center" style="margin-top: 40px"
			ng-show="!isRegression">
			<div class="page-header">
				<h1 class="text-muted">Click below to start regression</h1>
			</div>
			<form>
				<input type="text" class="form-control"
					placeholder="Please enter the build number" id="bn"
					style="width: 400px; height: 40px; margin: 0 auto; border: 1px solid #9299ce"
					ng-model="buildno" required> <br />
				<button data-toggle="modal" data-target="#{{dt}}"
					class="btn btn-primary btn-lg" type="submit"
					ng-click="confirmModal(buildno)">
					<span class="glyphicon glyphicon-off"></span> Start Regression
				</button>
			</form>

		</div>
		<div ng-hide="!isRegression" class="text-center">
			<div ng-show="!isRegStarted">
				<table class="table table-bordered example"
					style="width: 50%; margin: 0 auto;">
					<thead style="background-color: #56638c; font-size: 10px;">
						<tr>

							<th class="text-center headerstyle">BATCH'NAME</th>
							<th class="text-center headerstyle">BATCH'ID</th>
							<th class="text-center headerstyle"><div class="checkbox">
									<input type="checkbox" ng-model="all"
										ng-change="doOpsCheckAll(batchData,all)"> Check all<br>
									<br>
								</div>IS_SELECT</th>
						</tr>
					</thead>
					<tbody>

						<tr ng-repeat="y in batchData">
							<td>{{y.batchName}}</td>
							<td>{{y.batchID}}</td>
							<td><input type="checkbox" ng-checked="all" ng-model="one"
								ng-click="doOps(y,one)"></td>
						</tr>
					</tbody>
				</table>
				<br />
				<h1 ng-show="all">{{tabledata}}</h1>

				<button data-toggle="modal"
					class="btn btn-primary btn-md text-center" type="submit"
					ng-click="doFinalData()" ng-disabled="isDisabled">
					<span class="glyphicon glyphicon-off"></span> Start Regression
				</button>
			</div>
			<div ng-show="isRegStarted">
				<h3 class="text-muted">Regression has started...</h3>
				<br />

				<ul class="nav nav-tabs">
					<li ng-repeat="y in finalData" ng-if="$index < 1" class="active"><a
						data-toggle="tab" href="#{{y.batchID}}" ng-click="getStatus(y.batchID)">{{y.batchNickName}}</a></li>
					<li ng-repeat="y in finalData" ng-if="$index > 0"><a
						data-toggle="tab" href="#{{y.batchID}}">{{y.batchNickName}}</a></li>
				</ul>
				<div class="tab-content">
					<div ng-repeat="y in finalData" ng-if="$index < 1"
						id="{{y.batchID}}" class="tab-pane fade in active">
						
						<!-- <h3>{{batchstatus}}</h3> -->
						<p>
							<u>{{y.batchName}}</u>
						</p>
						<p>
							<u>{{y.batchID}}</u>
						</p>

						<br />
						{{batchstatus}}
						<table class="table table-striped"
							style="width: 400px; margin: 0 auto">
							<tr>
								<td><strong>Authentication</strong></td>
								<td ng-show="batchstatus.authStatus"><span
									style="font-size: 20px; color: #70aa72"
									class="glyphicon glyphicon-ok-sign"></span></td>
								<td ng-show="!batchstatus.authStatus">
									<div class="progress" style="width:80px;height:10px;">
										<div
											class="progress-bar progress-bar-striped progress-bar-purple pbar active"
											role="progressbar" aria-valuenow="1000" aria-valuemin="0"
											aria-valuemax="100" style="width: 100%;"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td><strong>Developer Batch</strong></td>
								<td ng-show="batchstatus.devBatchStatus"><span
									style="font-size: 20px; color: #70aa72"
									class="glyphicon glyphicon-ok-sign"></span></td>
								<td ng-show="!batchstatus.devBatchStatus">
									<div class="progress" style="width:80px;height:10px;">
										<div
											class="progress-bar progress-bar-striped progress-bar-purple pbar active"
											role="progressbar" aria-valuenow="1000" aria-valuemin="0"
											aria-valuemax="100" style="width: 100%;"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td><strong>Regression Batch</strong></td>
								<td ng-show="batchstatus.regBatchStatus"><span
									style="font-size: 20px; color: #70aa72"
									class="glyphicon glyphicon-ok-sign"></span></td>
								<td ng-show="!batchstatus.regBatchStatus">
									<div class="progress" style="width:80px;height:10px;">
										<div
											class="progress-bar progress-bar-striped progress-bar-purple pbar active"
											role="progressbar" aria-valuenow="1000" aria-valuemin="0"
											aria-valuemax="100" style="width: 100%;"></div>
									</div>
								</td>
							</tr>
							<tr>
								<td><strong>Batch comparison</strong></td>
								<td ng-show="batchstatus.batchCompStatus"><span
									style="font-size: 20px; color: #70aa72"
									class="glyphicon glyphicon-ok-sign"></span></td>
								<td ng-show="!batchstatus.batchCompStatus">
									<div class="progress" style="width:80px;height:10px;">
										<div
											class="progress-bar progress-bar-striped progress-bar-purple pbar active"
											role="progressbar" aria-valuenow="1000" aria-valuemin="0"
											aria-valuemax="100" style="width: 100%;"></div>
									</div>
								</td>
							</tr>
						</table>
					</div>
					<div ng-repeat="y in finalData" ng-if="$index > 0"
						id="{{y.batchID}}" class="tab-pane fade">
						<p>
							<u>{{y.batchName}}</u>
						</p>
						<p>
							<u>{{y.batchID}}</u>
						</p>
						<br />
						<table class="table table-striped"
							style="width: 400px; margin: 0 auto">
							<tr>
								<td><strong>Authentication</strong></td>
								<td><span style="font-size: 20px; color: green"
									class="glyphicon glyphicon-ok-sign"></span></td>
							</tr>
							<tr>
								<td><strong>Developer Batch</strong></td>
								<td><span style="font-size: 20px; color: green"
									class="glyphicon glyphicon-ok-sign"></span></td>
							</tr>
							<tr>
								<td><strong>Regression Batch</strong></td>
								<td><span style="font-size: 20px; color: green"
									class="glyphicon glyphicon-ok-sign"></span></td>
							</tr>
							<tr>
								<td><strong>Batch comparison</strong></td>
								<td><span style="font-size: 20px; color: green"
									class="glyphicon glyphicon-ok-sign"></span></td>
							</tr>
						</table>

					</div>

				</div>
			</div>

		</div>
		<div class="modal fade" id="confirmmodal" role="dialog">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title text-center text-muted">
							Please confirm the build <strong class="text-info">{{buildno}}</strong>
							is correct.?
						</h4>
					</div>
					<div class="modal-body text-center">
						<button type="button" class="btn btn-success"
							style="margin: 0 auto" ng-click="startRegression()"
							data-dismiss="modal">YES</button>
						<button type="button" class="btn btn-danger"
							style="margin: 0 auto" data-dismiss="modal">NO</button>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript"></script>

	<script type="text/javascript">
		$(function() {
			$('a[title]').tooltip();
		});
	</script>
	<script type="text/javascript">
		var app = angular.module('app', []);
		app.controller('myCtrl', function($scope, $http, $timeout, $location) {
			$scope.realData = '';
			$scope.isDisabled = false;
			$scope.isRegression = false;
			$scope.isAdded = false;
			$scope.myURL = "http://" + $location.host() + ":"
					+ $location.port() + "/build/";
			$scope.confirmModal = function(buildno) {

				$scope.$watch('ds', function() {
					if (buildno === undefined) {

					} else {
						$scope.dt = 'confirmmodal';
					}
				});

			}
			$scope.startRegression = function() {
				$http({
					method : "GET",
					url : $scope.myURL + "doregression"
				}).then(function mySuccess(response) {
					$scope.isRegression = true;
					$scope.isRegStarted = false;
					$scope.batchData = response.data;

				}, function myError(response) {
					//alert("http fail");
				});

			};

			$scope.doOpsCheckAll = function(bn, ischecked) {
				$scope.$watch('ds', function() {
					if (ischecked) {
						$scope.isAllChecked = true;
						$scope.realData = JSON.stringify(bn, function(key,
								value) {
							if (key === "$$hashKey" || key == "$hashKey") {
								return undefined;
							}

							return value;
						});
					} else {
						$scope.isAllChecked = false;
						$scope.realData = '';
						alert("Nothing");
					}
				});

			};
			$scope.getStatus = function(batchid) {
				$http(
						{
							method : "GET",
							url : $scope.myURL + "regressionstatus?batchid="
									+ batchid
						}).then(function mySuccess(response) {
					$scope.batchstatus=response.data;
				}, function myError(response) {
					//alert("http fail");
				});
			};
			$scope.doFinalData = function() {

				$scope.$watch('ds', function() {
					$scope.isDisabled = true;
					if (!$scope.isAllChecked) {
						$scope.isAdded = true;
						$scope.realData = "[" + $scope.realData + "]";
						$scope.realData = $scope.realData.replace(",]", "]");
						alert($scope.realData);
					}
					$scope.finalData = angular.fromJson($scope.realData)
					$scope.succper = '';

					angular.forEach($scope.finalData, function(value, index) {
						if (index > 0) {
							$scope.succper = $scope.succper + ";"
									+ value.batchName + "$" + value.batchID+"$"+value.batchNickName;
						} else {
							$scope.succper = $scope.succper + value.batchName
									+ "$" + value.batchID+"$"+value.batchNickName;
						}

					});
					alert($scope.succper);
					$scope.isRegStarted = true;
					$http(
							{
								method : "GET",
								url : $scope.myURL + "startregression?data="
										+ $scope.succper
							}).then(function mySuccess(response) {
						
						$scope.batchData = response.data;

					}, function myError(response) {
						//alert("http fail");
					});

				});

			};

			$scope.doOps = function(bn, ischecked) {
				$scope.$watch('ds', function() {
					if (ischecked) {
						if ($scope.isAllChecked) {
							var temp = JSON.stringify(bn, function(key, value) {
								if (key === "$$hashKey" || key == "$hashKey") {
									return undefined;
								}

								return value;
							});
							$scope.realData = $scope.realData.replace("]", ","
									+ temp + "]");
							//alert($scope.realData);
						} else {

							var temp = JSON.stringify(bn, function(key, value) {
								if (key === "$$hashKey" || key == "$hashKey") {
									return undefined;
								}

								return value;
							});
							$scope.realData = $scope.realData + temp + ",";
							//alert($scope.realData);
						}
					} else {
						if ($scope.isAllChecked) {
							var temp = JSON.stringify(bn, function(key, value) {
								if (key === "$$hashKey" || key == "$hashKey") {
									return undefined;
								}

								return value;
							});

							$scope.realData = $scope.realData.replace(temp, "")
									.replace("[,", "[").replace(",]", "]")
									.replace("},,", "},");
							//$scope.realData = $scope.realData.replace(temp,"").replace(",]","]");

						} else {
							var temp = JSON.stringify(bn, function(key, value) {
								if (key === "$$hashKey" || key == "$hashKey") {
									return undefined;
								}

								return value;
							});
							if ($scope.realData.match(bn)) {
								$scope.realData = $scope.realData.replace(temp
										+ ",", "")
							}
						}

					}
				});

			};
		});
	</script>
	<script>
		$(function() {
			$(".pbar").addClass("progress-bar-purple");

		});
	</script>
</body>
</html>